<html>
    <head>
        <title>
            Login Page
        </title>
    </head>
    <h1>User Login Page</h1>
    <body>
        <form action="/login" method="post">
            <b><label for="uname">Username:</label></b>  
            <input type="text" id="uname" name="uname" required>  <br><br>
            <b> <label for="email">Email:</label> </b>
            <input type="text" id="email" name="email" required><br><br>
            <b><label for="upass">Password:</label></b>  
            <input type="password" id="upass" name="upass" required>  <br><br>
            <input type="submit" value="Register" >   
        </form>
    </body>
</html>